.git                 export-ignore
.github              export-ignore
.gitignore           export-ignore
.gitattributes       export-ignore

tests/               export-ignore
examples/            export-ignore
yaml_tests/          export-ignore

/README.md           export-ignore
/mise.toml           export-ignore
